.reviewCard {
  border: 2px solid black;
  border-radius: 15px;
  background-color: #8a2be270;
  margin: 2%;
  padding: 2%;
}

.buttonsArea {
  margin-top: 2%;
}

.buttonsArea > * {
  margin-right: 2%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1%;
}

.editForm {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.editForm > input, textarea, button {
  display: block;
  margin-top: 2%;
}

.errorMsg {
  size: 0.5rem;
  color: red;
}