.logoImg {
  height: 50%;
  width: 60%;
  border-radius: 100%;
}

.landingLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.greeting {
  font-style: italic;
  margin-bottom: 5%;
}